In [5]:
numeros = [2,5,10,23,50,33]

def doblar(numero):
    return numero * 2
map(doblar,numeros)

In [2]:
n = map(doblar,numeros)

In [3]:
next(n)

4

In [6]:
list(map(lambda x : x*2, numeros))

[4, 10, 20, 46, 100, 66]

In [7]:
a= [1,2,3,4,5]
b= [6,7,8,9,10]

In [8]:
list(map(lambda x,y: x*y, a,b))

[6, 14, 24, 36, 50]

In [9]:
class Persona:
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad
    def __str__(self):
        return"{} de {} años".format(self.nombre, self.edad)

personas = [
    Persona("Juan", 16),
    Persona("Letz", 27),
    Persona("Eduardo", 14),
    Persona("Carlos", 30)
]

In [10]:
def incrementar(persona):
    persona.edad += 1
    return persona
personas = map(incrementar, personas)

In [11]:
for persona in personas:
    print(persona)

Juan de 17 años
Letz de 28 años
Eduardo de 15 años
Carlos de 31 años

In [12]:
personas = [
    Persona("Juan", 19),
    Persona("Letz", 28),
    Persona("Eduardo", 13),
    Persona("Carlos", 31)
]

personas = map(lambda persona : Persona(persona.nombre, persona.edad+1), personas)

In [13]:
for persona in personas:
    print(persona)

Juan de 20 años
Letz de 29 años
Eduardo de 14 años
Carlos de 32 años